/* .styled{
background-color: black;
color: white;
} */

.todo{ 
    font-family: cursive;
    box-sizing: inherit;
  }
ul.demo{
    background: white;
    list-style-type: none;
  }
.demo:hover{
    background-color: yellowgreen;
    cursor: pointer;
}
